@font-face {
  font-family: lato-bold;
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: lato-regular;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

/*-------------- CSS começa aqui ----------------------- */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: OpenSans, lato-regular, arial;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
  font-weight: 500;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

img {
  top: 4px;
  position: relative;
  max-width: 50px;
  height: auto;
}

/* navbar regular css start */
.navbar-area {
  background: #202020;
  border-bottom: #202020;
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a.site-logo {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  position: relative;
  top: -10px;
}
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  font-weight: 500;
}
.site-navbar ul li a:hover {
  background: rgba(255,255,255,.1);
}
/* navbar regular css end */

/* nav-toggler css start */
.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span, 
.nav-toggler span:before, 
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: .3s;
}
.nav-toggler span:before {
  content: '';
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: '';
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */

/* intro-area css start */
.intro-area {
  height: calc(100vh - 61px);
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}
.intro-area h2 {
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 25px;
}
.intro-area p {
  font-size: 18px;
}

#aulas-horarios {
  text-align: center;
  margin-top: 50px;
}

/* intro-area css end */

.aulas-dias {
  margin-left: 10px;
}

footer {
  background-color: #202020;
  color: #fff;
  text-align: center;
  padding: 25px 0;
  height: 2.5rem;
  width: 100%;
  position: relative;
  bottom: 0;
}

/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  .container {
      max-width: 720px;
  }

  img {
      top: 7px;
      width: 45px;
      position: relative;
      left: 10px;
  }

  a.site-logo {
      position: relative;
      font-size: 22px;
      margin-left: 44px;
      font-size: 1.7rem;
      left: -25px;
      bottom: 6px;
  }

  /* css da navbar para mobile */
  .nav-toggler {
      display: block;
  }
  .site-navbar {
      min-height: 60px;
  }
  .site-navbar ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 60px);
      left: 0;
      top: 60px;
      flex-direction: column;
      align-items: center;
      border-top: 1px solid #444;
      background-color: rgba(0,0,0,.85);
      max-height: 0;
      overflow: hidden;
      transition: .3s;
  }
  .site-navbar ul li {
      width: 100%;
      text-align: center;
  }
  .site-navbar ul li a {
      padding: 25px;
  }
  .site-navbar ul li a:hover {
      background-color: rgba(255,255,255,.1);
  }
  .site-navbar ul.open {
      max-height: 100vh;
      overflow: visible;
  }
  .intro-area h2 {
      font-size: 36px;
      margin-bottom: 15px;
  }  

  footer p {
      font-weight: 600;
      font-size: 1rem;
  }
  /* navbar css for mobile end */
}
/* mobile breakpoint end */
